# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Nodejs_projects\text_files_using_electronjs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
